body {
    background-color: #8AAE9E;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg {
    position: relative;
}

.video-stream {
    position: absolute;
    z-index: 1;
}

#forward {
    display: inline-block;
    width: 60px;  /* Button size */
    height: 60px; /* Button size */
    z-index: 2;
    position: absolute;
    top: 230px;  /* Position button */
    left: 100px; /* Position button */
}

#backward {
    display: inline-block;
    width: 60px;  /* Button size */
    height: 60px; /* Button size */
    z-index: 2;
    position: absolute;
    top: 300px;  /* Position button */
    left: 100px;  /* Position button */
    rotate: 180deg;
}

button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}


/* Adjust sizes for smaller devices */
@media (max-width: 1310px) {
    .bg {
        transform: scale(0.5);
    }
    .video-stream {
        transform: scale(0.5);
    }
    button {
        transform: scale(0.75);
    }
}
