<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Percy</title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="bg">
            <svg width="1300" height="620">
                <image 
                    href="{{ url_for('static', filename='images/background.svg') }}"
                    width="100%"
                    style="max-width: 100%;"
                />
            </svg>

            <!-- Dispaly temperature -->
            <div class="temperature">
                <span>{{ temperature }}&#8451;</span>
            </div>

            <!-- Forward and Reverse motor controls-->
            <button id="forward">
                <svg viewBox="0 0 100 100" width="100" height="100">
                    <image 
                        href="{{ url_for('static', filename='images/arrow.svg') }}"
                        width="100%"
                        height="100%"
                    />
                </svg>
            </button>
            <button id="backward">
                <svg viewBox="0 0 100 100" width="100" height="100">
                    <image 
                        href="{{ url_for('static', filename='images/arrow.svg') }}"
                        width="100%"
                        height="100%"
                    />
                </svg>
            </button>

            <!-- Left and Right motor controls -->
            <button id="left">
                <svg viewBox="0 0 100 100" width="100" height="100">
                    <image 
                        href="{{ url_for('static', filename='images/arrow.svg') }}"
                        width="100%"
                        height="100%"
                    />
                </svg>
            </button>
        </div>

        <!-- Video stream from the PiCamera -->
        <div class="video-stream">
            <img src="{{ url_for('video_feed') }}" width="640" height="480">
        </div>
    </div>
</body>
</html>
